@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;

}

.upperLinks{

  float: right;
  color: black;
}
.all{
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.navbar {
  padding: 3px !important;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background: #104E8B;
  font-weight: bold;
}
.navbar h1 {
  color: #fff;
}
.navbar .links {
  margin-left: auto;
  
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #fff;
}
.navbar a:hover {
  color: #f2f2f2;
}
.content {
  max-width: 100%;
  margin: 10px auto;
  padding: 10px auto;
}

.corousel-content{
  margin: 0 0 0 0;
}

.blog-preview{
  padding:10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2{
  font-size: 20px;
  color:#fff;
  margin-bottom: 8px;
}

.blog-preview p{
  font-size: 20px;
  color:#fff;
  margin-bottom: 8px;
  margin-top: 5px;
}




.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.others{
  font-size:20px;
  color:#fff;
  margin-bottom: 30px;
}

.search input, .create textarea, .create select{
  width: 100%;
  padding: 6px 6px;
  margin: 10px 0;
  border: 1px soldi #ddd;
  box-sizing: border-box;
  display: block;

}

.create button{
  background: #fff;
  color:#fff;
  padding:8px;
  border:0;
  border-radius: 8px;
  cursor: pointer;
}

.search{
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 22px;
  color: red;
  font-weight: bolder;
} 

.search:hover{
  cursor: pointer;
  /* background-color: red; */
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
